# Spring? ????? Database? ??? ???? ?
# ??? ??? ??? RDB? ???? ?? ??? ???? ???? H2 DB? ??????
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# JWT? Header + Payload + Signature ? ???? ???
# ? ? Signature(??) ? ?? ? Secret ?? ???
# 512??(64???)? ?? ? ??
# openssl rand -base64 32
# base64 ??? ?? ?? ????? ?? ??
jwt:
  secret:
    key: "fbxBThrycVjto1UWpnOOKthNP7ykxFXPFxJB75o0/kibILVEg6it/CMaEwjBHk2cpfxF2ExPrOiwba9eUsJUTA=="
